---
layout: default
title:  Projects
permalink: /projects/
---
<div class="prj-list">
{% for prj in site.posts %}
<div class="prj">
  {% capture type %}{{ prj.categories }}{% endcapture %}
  {% if type == "project" %} 
  <div>
    <a class="prj-item-title" href="{{ site.url }}{{ prj.url }}"><h4>{{ prj.title }}</h4></a>
	<table class="prj-details" cols=2>  
	 <tr>
	 <td>{{ prj.excerpt }}</td>
	 <td>
	 {% if prj.mv %}
	 <iframe width="300" height="200" src="{{prj.mv}}" frameborder="0" allowfullscreen></iframe>
	 {% else prj.image %}
	 <img src="{{site.url}}/img/{{prj.image1}}" width="650" height="250"/>
	 {% endif %}
	 </td>
	 </tr> 
	</table>
  </div>
   {% endif %} 
</div>   
{% endfor %}
</div>